<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title 'Welcome'%}</title>
</head>
<body>
{% block body %}
    <h1>hello twig</h1>
<p>my name is </p>
<p>my name is </p>

{% endblock %}
</body>
</html>